
.vs/SadRogue/v15/.suo
.vs/SadRogue/v15/Server/sqlite3/storage.ide-shm
.vs/SadRogue/v15/Server/sqlite3/storage.ide-wal
SadRogue/bin/DesktopGL/AnyCPU/Debug/libopenal.1.dylib
SadRogue/bin/DesktopGL/AnyCPU/Debug/libSDL2-2.0.0.dylib
SadRogue/bin/DesktopGL/AnyCPU/Debug/MonoGame.Framework.dll
SadRogue/bin/DesktopGL/AnyCPU/Debug/MonoGame.Framework.dll.config
SadRogue/bin/DesktopGL/AnyCPU/Debug/SadRogue.exe
SadRogue/bin/DesktopGL/AnyCPU/Debug/SadRogue.pdb
SadRogue/bin/DesktopGL/AnyCPU/Debug/x64/libSDL2-2.0.so.0
SadRogue/bin/DesktopGL/AnyCPU/Debug/x64/SDL2.dll
SadRogue/bin/DesktopGL/AnyCPU/Debug/x64/soft_oal.dll
SadRogue/bin/DesktopGL/AnyCPU/Debug/x86/libSDL2-2.0.so.0
SadRogue/bin/DesktopGL/AnyCPU/Debug/x86/SDL2.dll
SadRogue/bin/DesktopGL/AnyCPU/Debug/x86/soft_oal.dll
SadRogue/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SadRogue/obj/Debug/SadRogue.csproj.CoreCompileInputs.cache
SadRogue/obj/Debug/SadRogue.csproj.FileListAbsolute.txt
SadRogue/obj/Debug/SadRogue.csprojAssemblyReference.cache
SadRogue/obj/Debug/SadRogue.exe
SadRogue/obj/Debug/SadRogue.pdb
SadRogue/SadRogue.csproj
.vs/SadRogue/v15/.suo
